<% var data = {
  title: "MAIN",
  author: ""
  }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container"> 
        <div class="breadcrumbs__items">
          <ul>
            <li><a href="/"><span><img src="img/Home.svg" alt=""></span></a></li>
            <li><a href=""><span>Каталог</span></a></li>
            <li><span> Фонари и гирлянды</span></li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.breadcrumbs -->
    <div class="catalogpage">
      <div class="container">
        <div class="catalogpage__wrapper">
          
          <div class="catalogpage__main">
            <div class="catalogheader">
              <div class="catalogheader__left">
                <div class="catalogheader__title">
                  <h1>Фонари и гирлянды</h1>
                </div>
                <!-- /.catalogheader__title -->
                <div class="catalogheader__description">Дорожные работы, которые проводятся на открытых участках, представляют собой повышенную опасность для всех участников дорожного движения. В особенности это выражается при тумане и в темное время суток. Повысить видимость и безопасность рабочего участка удается за счет сигнальных фонарей и гирлянд.</div>
              </div>
            </div>
           
            
            <div class="cataloglist">
              <div class="cataloglist__items cataloglist__items_col4">
                <div class="cataloglist__item">
                  <div class="catalogcard">
                    <a href="#" class="catalogcard__wrapper">
                      <div class="catalogcard__image">
                        <div class="catalogcard__img"><img src="img/catalogcard1.png" alt=""></div>
                      </div>
                      <div class="catalogcard__content">
                        <div class="catalogcard__title">Фонари и гирлянды</div>
                        <div class="catalogcard__link"><img src="img/catalogcard__link.svg" alt=""></div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- /.cataloglist__item -->
                <div class="cataloglist__item">
                  <div class="catalogcard">
                    <a href="#" class="catalogcard__wrapper">
                      <div class="catalogcard__image">
                        <div class="catalogcard__img"><img src="img/catalogcard2.png" alt=""></div>
                      </div>
                      <div class="catalogcard__content">
                        <div class="catalogcard__title">Дорожные знаки</div>
                        <div class="catalogcard__link"><img src="img/catalogcard__link.svg" alt=""></div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- /.cataloglist__item -->
                <div class="cataloglist__item">
                  <div class="catalogcard">
                    <a href="#" class="catalogcard__wrapper">
                      <div class="catalogcard__image">
                        <div class="catalogcard__img"><img src="img/catalogcard3.png" alt=""></div>
                      </div>
                      <div class="catalogcard__content">
                        <div class="catalogcard__title">Светодиодные знаки</div>
                        <div class="catalogcard__link"><img src="img/catalogcard__link.svg" alt=""></div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- /.cataloglist__item -->
                <div class="cataloglist__item">
                  <div class="catalogcard">
                    <a href="#" class="catalogcard__wrapper">
                      <div class="catalogcard__image">
                        <div class="catalogcard__img"><img src="img/catalogcard34.png" alt=""></div>
                      </div>
                      <div class="catalogcard__content">
                        <div class="catalogcard__title">Стеодиодный знак “Пешеходный переход”</div>
                        <div class="catalogcard__link"><img src="img/catalogcard__link.svg" alt=""></div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- /.cataloglist__item -->
                <div class="cataloglist__item">
                  <div class="catalogcard">
                    <a href="#" class="catalogcard__wrapper">
                      <div class="catalogcard__image">
                        <div class="catalogcard__img"><img src="img/catalogcard35.png" alt=""></div>
                      </div>
                      <div class="catalogcard__content">
                        <div class="catalogcard__title">Щиты прикрытия</div>
                        <div class="catalogcard__link"><img src="img/catalogcard__link.svg" alt=""></div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- /.cataloglist__item -->
                <div class="cataloglist__item">
                  <div class="catalogcard">
                    <a href="#" class="catalogcard__wrapper">
                      <div class="catalogcard__image">
                        <div class="catalogcard__img"><img src="img/catalogcard36.png" alt=""></div>
                      </div>
                      <div class="catalogcard__content">
                        <div class="catalogcard__title">Светодиодное оборудоввание для спецтехники</div>
                        <div class="catalogcard__link"><img src="img/catalogcard__link.svg" alt=""></div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- /.cataloglist__item -->
                <div class="cataloglist__item">
                  <div class="catalogcard">
                    <a href="#" class="catalogcard__wrapper">
                      <div class="catalogcard__image">
                        <div class="catalogcard__img"><img src="img/catalogcard37.png" alt=""></div>
                      </div>
                      <div class="catalogcard__content">
                        <div class="catalogcard__title">Прицепы прикрытия</div>
                        <div class="catalogcard__link"><img src="img/catalogcard__link.svg" alt=""></div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- /.cataloglist__item -->
                <div class="cataloglist__item">
                  <div class="catalogcard">
                    <a href="#" class="catalogcard__wrapper">
                      <div class="catalogcard__image">
                        <div class="catalogcard__img"><img src="img/catalogcard8.png" alt=""></div>
                      </div>
                      <div class="catalogcard__content">
                        <div class="catalogcard__title">Светосигнальные балки</div>
                        <div class="catalogcard__link"><img src="img/catalogcard__link.svg" alt=""></div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- /.cataloglist__item -->
              </div>
              <!-- /.cataloglist__items -->
              
            </div>
            <!-- /.cataloglist -->
          </div>
          <!-- /.catalogpage__main -->
        </div>
        <!-- /.catalogpage__wrapper -->
      </div>
      <!-- /.container -->
    
    </div>
    <!-- /.catalogpage -->
  </div>
  <!-- /.page -->  
  <div class="pageblock  ">
    <div class="pageform">
      <div class="container">
        <div class="pageform__wrapper grayblock">
          <div class="pageform__main">
          <div class="pageform__content">
            <div class="pageform__title titleborder">Не знаете что выбрать?</div>
            <div class="pageform__subtitle">Воспользуйтесь бесплатной консультацией</div>
            <div class="pageform__text">Наш менеджер свяжется с вами и поможет с выбором правильной модели и размеров.</div>
          </div>
          <div class="pageform__form">
            <div class="formblock">
              <form action="">  
                <div class="formblock__row">
                  <div class="formblock__col">
                    <div class="formblock__label">Ваше имя<span class="required">*</span></div>
                    <div class="formblock__input">
                      <input type="text">
                    </div>
                  </div>
                  <div class="formblock__col">
                    <div class="formblock__label">Ваш email<span class="required">*</span></div>
                    <div class="formblock__input">
                      <input type="text" class="input-error">
                      <span class="input-errortext">email не может содержать символы: 123</span>
                    </div>
                  </div>
                </div>
                <div class="formblock__row">
                  <div class="formblock__col formblock__col_full">
                    <div class="formblock__label">Ваше сообщение</div>
                    <div class="formblock__input">
                      <textarea name="" id="" rows="1"></textarea>
                    </div>
                  </div>
                </div>
                <div class="formblock__row formblock__row_submit">
                  <div class="formblock__col">
                    <div class="formblock__check">
                      Нажимая кнопку “Отправить”, вы даете согласие на обработку своих <a href="">персональных данных</a> 
                    </div>
                  </div>
                  <div class="formblock__col">
                    <div class="formblock__button" type="submit"><button class="btn btn_main">Отправить</button></div>
                  </div>
                </div>
            
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pageblock">
    <div class="container">
      <h2>Продажа дорожных знаков в г. Москва (SEO text)</h2>
      <div class="text">
        <div  data-limit="108">
        <p>Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения систем массового участия. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения дальнейших направлений развития. С другой стороны дальнейшее развитие различных форм деятельности способствует подготовки и реализации новых предложений.</p>

        <p>Не следует, однако забывать, что консультация с широким активом требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Товарищи! реализация намеченных плановых заданий играет важную роль в формировании систем массового участия.</p>
        <p>Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения систем массового участия. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения дальнейших направлений развития. С другой стороны дальнейшее развитие различных форм деятельности способствует подготовки и реализации новых предложений.</p>

        <p>Не следует, однако забывать, что консультация с широким активом требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Товарищи! реализация намеченных плановых заданий играет важную роль в формировании систем массового участия.</p>
        </p>
      </div>
      </div>
    </div>
  </div>
</main>
<%= _.template(require('../includes/footer.html').default)(data) %>