<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> <main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li>
              <a href="/">
                <span>
                  <img src="img/Home.svg" alt="">
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Каталог</span>
              </a>
            </li>
            <li>
              <span>Мясо, птица</span>
            </li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumbs -->
    <div class="container">
      <div class="pageaside">
        <div class="pageaside__aside">
          <aside>
            <div class="pageaside__items">
              <div class="pageaside__item">
                <a href="#" class="pageaside__link">
                  <span class="pageaside__icon">
                    <img src="img/like.svg" alt="">
                  </span>
                  <span class="pageaside__text">Нравится</span>
                </a>
              </div>
              <div class="pageaside__item">
                <a href="#" class="pageaside__link">
                  <span class="pageaside__icon">
                    <img src="img/dislike.svg" alt="">
                  </span>
                  <span class="pageaside__text">Не нравится</span>
                </a>
              </div>
              <div class="pageaside__item">
                <a href="#" class="pageaside__link">
                  <span class="pageaside__icon">
                    <img src="img/share.svg" alt="">
                  </span>
                  <span class="pageaside__text">Поделиться</span>
                </a>
              </div>
              <div class="pageaside__item">
                <a href="#" class="pageaside__link">
                  <span class="pageaside__icon">
                    <img src="img/comment.svg" alt="">
                  </span>
                  <span class="pageaside__text">Обсудить</span>
                </a>
              </div>
            </div>
          </aside>
        </div>
        <div class="pageaside__main">
          <div class="pageheader">
            <h1>Новая коллекция знаков 2022</h1>
          </div>
          <div class="pageparams">
            <div class="itemslistcard__params">
              <div class="itemslistcard__param">
                <span class="itemslistcard__icon"><img src="img/date.svg" alt=""></span>
                <span class="itemslistcard__text">21 февраля, 2022 года</span>
              </div>
            </div>
          </div>
          <div class="pagecontent__image">
            <a href='img/newsdetail1.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
              <img src="img/newsdetail1.jpg" alt="">
            </a>
          </div>
          <!-- /.pageparams -->
          <div class="pagecontent">
              
              
              <div class="pagecontent__content">
              <h2>Отличие №1: заголовок</h2>
              <p>С другой стороны сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации соответствующий условий активизации. </p>

              <h2>Отличие №1: заголовок</h2>
              <p>С другой стороны сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации соответствующий условий активизации. </p>

              <h2>Отличие №1: заголовок</h2>
              <p>С другой стороны сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации соответствующий условий активизации. </p>

                <p>Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании дальнейших направлений развития. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. </p>
                
                  <p> С другой стороны реализация намеченных плановых заданий представляет собой интересный эксперимент проверки направлений прогрессивного развития.</p>

                 
                      <img src="img/newsdetail2.jpg" alt="">
               

                  <h2>Отличие №1: заголовок</h2>
                  <p>С другой стороны сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации соответствующий условий активизации. </p>

                <p>Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании дальнейших направлений развития. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. </p>
                
                  <p> С другой стороны реализация намеченных плановых заданий представляет собой интересный эксперимент проверки направлений прогрессивного развития.</p>


                </div>
          </div>

          <div class="pagecontent__footer">
            <div class="pagecontent__buttons pagecontent__likes">
              <div class="pagecontent__button pagecontent__like">
                <a href="">
                  <img src="img/pagecontent_like.svg" alt=""><span>Нравится</span>
                </a>
              </div>
              <div class="pagecontent__button pagecontent__dislike">
                <a href="">
                  <img src="img/pagecontent_dislike.svg" alt=""><span>Не нравится</span>
                </a>
              </div>
            </div>
            <div class="pagecontent__buttons pagecontent__actions">
              <div class="pagecontent__button pagecontent__comment">
                <a href="">
                  <img src="img/pagecontent__comment.svg" alt=""><span>Обсудить</span>
                </a>
              </div>
              <div class="pagecontent__button pagecontent__share">
                <a href="">
                  <img src="img/pagecontent__share.svg" alt=""><span>Поделиться</span>
                </a>
              </div>
            </div>
          </div>

          <div class="pageblocksl morenewsslider">
              <div class="blockheader flex items-center content-between">
                <div class="blockheader__left">
                  <h2>Другие статьи</h2>
                </div>
                <!-- /.blockheader__left -->
                <div>
                  <div class="sliderarrows flex ">
                    <div class="slider__arrow slider__arrow_left productslider__arrow_left"><img src="img/sliderleft.svg" alt=""></div>
                    <div class="slider__arrow slider__arrow_right productslider__arrow_right"><img src="img/sliderleft.svg" alt=""></div>
                  </div>
                </div>
              </div>
              <!-- /.blockheader -->
              <div class="itemslistslider__wrapper">
                <div class="itemslistslider__container">
                  <div class="itemslist__slider morenews__slider ">
                    <div class="itemslistslider__slide">
                      <div class="itemslistslider__item">
                        <div class="itemslistcard itemslistcar_large">
                          <div class="itemslistcard__wrapper">
                            <a href="#" class="itemslistcard__image">
                              <div class="itemslistcard__img">
                                <img src="img/newsslider1.jpg" alt="">
                              </div>
                            </a>
                            <!-- /.itemslistcard__image -->
                            <div class="itemslistcard__title">
                              <a href="">Новая коллекция знаков 2022</a>
                            </div>
                            <div class="itemslistcard__info">
                              <div class="itemslistcard__params">
                                <div class="itemslistcard__param">
                                  <span class="itemslistcard__icon"><img src="img/date.svg" alt=""></span>
                                  <span class="itemslistcard__text">21 февраля, 2022 года</span>
                                </div>
                              </div>
                              <!-- /.itemslistcard__params -->
                            </div>
                          
                            
                            <!-- /.itemslistcard__info -->
                          </div>
                          <!-- /.itemslistcard__wrapper -->
                        </div>
                        <!-- /.itemslistcard -->
                      </div>
                      <!-- /.itemslistslider__item -->
                    </div>
                    <!-- /.itemslistslider__slide -->
                    <div class="itemslistslider__slide">
                      <div class="itemslistslider__item">
                        <div class="itemslistcard itemslistcar_large">
                          <div class="itemslistcard__wrapper">
                            <a href="#" class="itemslistcard__image">
                              <div class="itemslistcard__img">
                                <img src="img/newsslider2.jpg" alt="">
                              </div>
                            </a>
                            <!-- /.itemslistcard__image -->
                            <div class="itemslistcard__title">
                              <a href="">Новая коллекция знаков 2022</a>
                            </div>
                            <div class="itemslistcard__info">
                              <div class="itemslistcard__params">
                                <div class="itemslistcard__param">
                                  <span class="itemslistcard__icon"><img src="img/date.svg" alt=""></span>
                                  <span class="itemslistcard__text">21 февраля, 2022 года</span>
                                </div>
                              </div>
                              <!-- /.itemslistcard__params -->
                            </div>
                          
                            
                            <!-- /.itemslistcard__info -->
                          </div>
                          <!-- /.itemslistcard__wrapper -->
                        </div>
                        <!-- /.itemslistcard -->
                      </div>
                      <!-- /.itemslistslider__item -->
                    </div>
                    <!-- /.itemslistslider__slide -->
                    <div class="itemslistslider__slide">
                      <div class="itemslistslider__item">
                        <div class="itemslistcard itemslistcar_large">
                          <div class="itemslistcard__wrapper">
                            <a href="#" class="itemslistcard__image">
                              <div class="itemslistcard__img">
                                <img src="img/newsslider1.jpg" alt="">
                              </div>
                            </a>
                            <!-- /.itemslistcard__image -->
                            <div class="itemslistcard__title">
                              <a href="">Новая коллекция знаков 2022</a>
                            </div>
                            <div class="itemslistcard__info">
                              <div class="itemslistcard__params">
                                <div class="itemslistcard__param">
                                  <span class="itemslistcard__icon"><img src="img/date.svg" alt=""></span>
                                  <span class="itemslistcard__text">21 февраля, 2022 года</span>
                                </div>
                              </div>
                              <!-- /.itemslistcard__params -->
                            </div>
                          
                            
                            <!-- /.itemslistcard__info -->
                          </div>
                          <!-- /.itemslistcard__wrapper -->
                        </div>
                        <!-- /.itemslistcard -->
                      </div>
                      <!-- /.itemslistslider__item -->
                    </div>
                    <div class="itemslistslider__slide">
                      <div class="itemslistslider__item">
                        <div class="itemslistcard itemslistcar_large">
                          <div class="itemslistcard__wrapper">
                            <a href="#" class="itemslistcard__image">
                              <div class="itemslistcard__img">
                                <img src="img/newsslider2.jpg" alt="">
                              </div>
                            </a>
                            <!-- /.itemslistcard__image -->
                            <div class="itemslistcard__title">
                              <a href="">Новая коллекция знаков 2022</a>
                            </div>
                            <div class="itemslistcard__info">
                              <div class="itemslistcard__params">
                                <div class="itemslistcard__param">
                                  <span class="itemslistcard__icon"><img src="img/date.svg" alt=""></span>
                                  <span class="itemslistcard__text">21 февраля, 2022 года</span>
                                </div>
                              </div>
                              <!-- /.itemslistcard__params -->
                            </div>
                          
                            
                            <!-- /.itemslistcard__info -->
                          </div>
                          <!-- /.itemslistcard__wrapper -->
                        </div>
                        <!-- /.itemslistcard -->
                      </div>
                      <!-- /.itemslistslider__item -->
                    </div>
                  </div>
                </div>
                <!-- /.itemslistslider__container -->
              </div>
          </div>

          <div class="comments">
            <div class="comments__title">
              <h2>Комментарии к статье <span>5</span></h2>
              
            </div>
            <div class="comments__wrapper">
              <div class="comments__items">
                <div class="comments__item">
                  <div class="comments__header">
                    <div class="comments__icon">
                      <div class="comments__img"><img src="img/avatar.svg" alt=""></div>
                    </div>
                    <div class="comments__name"><span>Андрей Маринович</span></div>
                  </div>
                  <div class="comments__content">
                    <div class="comments__text">
                      <p>Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. </p>
                    </div>
                  </div>
                  <div class="comments__footer">
                    <div class="comments__date">
                      <div class="itemslistcard__info">
                        <div class="itemslistcard__params">
                          <div class="itemslistcard__param">
                            <span class="itemslistcard__icon"><img src="img/date.svg" alt=""></span>
                            <span class="itemslistcard__text">5 минут назад</span>
                          </div>
                        </div>
                        <!-- /.itemslistcard__params -->
                      </div>
                    </div>
                    <div class="comments__reply">
                      <div class="pagecontent__button comments__repl">
                        <a href="">
                          <img src="img/reply.svg" alt=""><span>Ответить</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                
                <div class="comments__item">
                  <div class="comments__header">
                    <div class="comments__icon">
                      <div class="comments__img"><img src="img/avatar.svg" alt=""></div>
                    </div>
                    <div class="comments__name"><span>Андрей Маринович</span></div>
                  </div>
                  <div class="comments__content">
                    <div class="comments__text">
                      <p>Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. </p>
                    </div>
                  </div>
                  <div class="comments__footer">
                    <div class="comments__date">
                      <div class="itemslistcard__info">
                        <div class="itemslistcard__params">
                          <div class="itemslistcard__param">
                            <span class="itemslistcard__icon"><img src="img/date.svg" alt=""></span>
                            <span class="itemslistcard__text">5 минут назад</span>
                          </div>
                        </div>
                        <!-- /.itemslistcard__params -->
                      </div>
                    </div>
                    <div class="comments__reply">
                      <div class="pagecontent__button comments__repl">
                        <a href="">
                          <img src="img/reply.svg" alt=""><span>Ответить</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="comments__item">
                  <div class="comments__header">
                    <div class="comments__icon">
                      <div class="comments__img"><img src="img/avatar.svg" alt=""></div>
                    </div>
                    <div class="comments__name"><span>Андрей Маринович</span></div>
                  </div>
                  <div class="comments__content">
                    <div class="comments__text">
                      <p>Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. </p>
                    </div>
                  </div>
                  <div class="comments__footer">
                    <div class="comments__date">
                      <div class="itemslistcard__info">
                        <div class="itemslistcard__params">
                          <div class="itemslistcard__param">
                            <span class="itemslistcard__icon"><img src="img/date.svg" alt=""></span>
                            <span class="itemslistcard__text">5 минут назад</span>
                          </div>
                        </div>
                        <!-- /.itemslistcard__params -->
                      </div>
                    </div>
                    <div class="comments__reply">
                      <div class="pagecontent__button comments__repl">
                        <a href="">
                          <img src="img/reply.svg" alt=""><span>Ответить</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>


        </div>
      </div>
     
    </div>
   
  </div>
</main><%= _.template(require('../includes/footer.html').default)(data) %>